<div class="row">
  <div class="large-12">
    <h1>Drinks</h1>

    <%- if !@drinks.empty? -%>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Featured?</th>
          <th>category</th>
          <th>alcohol level</th>
          <th>delete drink</th>
          <th></th>
        </tr>

        <%- @drinks.each do |drink| -%>
          <tr>
            <td><%= drink.title %></td>
            <td><%= truncate(drink.description, length: 30) %></td>
            <td><%= drink.featured %></td>
            <td><%= drink.category_id %></td>
            <td><%= drink.alcohol_level %></td>
            <td>
              <%= link_to 'X',
                '/drinks/' + drink.to_param,
                method: :delete %>
            </td>
          </tr>
        <%- end -%>
      </table>

      <%= paginate @drinks %>
    <%- end -%>
    <br>
    <a href="/drinks/new">make new</a>
    <br>
    <a href="/featured_drinks">feat. Dranks</a>
  </div>
</div>
